.header-container {
    position: fixed;
    width: 100%;
    background: #ddd;
    z-index: 1000;
}
.menu-list{
    border: 1px solid #333;
    justify-content: center;
    height: 50px;
    border-radius: 3px;
}
.menu-list .col{
    line-height: 50px;
    position: relative;
}

.menu-list-toggle{
    display: flex;
    cursor: pointer;
    z-index: 1;
}
.menu-list-toggle-base{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}
.menu-list-toggle-title{
    margin:0;
    line-height: 50px;
    font-size: 1rem;
}
.menu-list-toggle-title:hover{
    color: orange;
}
.menu-list-toggle-icon{
    padding: 0 10px;
}
.menu-list-data{
    display: none;
    z-index: 1000;
    position: absolute;
    top: 100%;
    left: 0;
    bottom: 0;
    background: #fff;
    width: 1320px;
    height: max-content;
    border: 1px solid #aaa;
}
.menu-list-data ul{
    list-style: none;
    margin : 0;
    padding: 10px 20px;
    background-color: #eee;
    z-index: 1;
}
.menu-list-data li{
    padding: 0;
    display: flex;
    cursor: pointer;
}
.menu-list-data li:hover{
    color: orange;
}
.menu-list-data-cat-icon-pointer{
    width: 20px;
    padding:0 10px;
}
.menu-list-data-cat-icon-pointer svg{
    display: none;
}
.menu-list-data li:hover .menu-list-data-cat-icon-pointer svg{
    display: inline-block;
}
.menu-list-data li .menu-list-data-cat-icon{
    padding: 0 10px;
}
.menu-list-data li .menu-list-data-cat-title{
    font-weight: bold !important;
    font-size: 0.8rem !important;
}
#menu-list-toggle-handler:checked ~ .menu-list-data {
    display: flex;
}
.nav-login-title{
    padding: 5px 20px;
    font-size: 0.8rem;
    font-weight: bold;
    color: #fff;
    border-radius: 20px;
    background-color: #000;
    margin: 0 10px;
    text-decoration: none;
}
.nav-login-title:hover{
    cursor: pointer;
    color: orange;
}
.nav-space{
    height: 140px;
}